body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
body, main {
    overflow: visible;
}
.navbar {
    background-color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 50px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 10px 0;
    font-size: 16px;
}

.breadcrumb li {
    display: inline;
    color: #333;
}

.breadcrumb li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.breadcrumb li a:hover {
    color: #4d7de7;
}

.breadcrumb li::after {
    content: " > ";
    color: #333;
    margin: 0 5px;
}

.breadcrumb li:last-child::after {
    content: "";
}

.breadcrumb li a.active {
    color: #2463d1;
}

.navbar img {
    width: 80px;
}

.mt {
    margin-right: 70px;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 80px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
}
.btn-secondary {
    background-color: #6c757d;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.job-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.job-description {
    flex: 2;
}

span{
    font-style: italic;
}
.company-logo img {
    max-width: 150px;
    border-radius: 5px;
}