body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

body,
main {
    overflow: visible;
    padding-top: 100px;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #001f54;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    width: 100%;
    background-color: #001f54;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-button:hover {
    background-color: #000e27;
}

.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #001f54;
    font-weight: bold;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}